/*全局设定*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Microsoft JhengHei;
    background: rgb(200, 200, 200);
}


/*表单格式*/

form {
    width: 300px;
    height: 75px;
    padding: 30px;
    background: rgb(61, 107, 48);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: -3px -3px 5px rgb(100, 100, 100);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
}


/*输入框格式*/

form input {
    width: 100px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    text-indent: 5px;
}


/*按钮样式*/

form button {
    width: 68px;
    height: 32px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background: rgb(41, 173, 57);
    color: rgb(255, 255, 255);
    font-family: Microsoft JhengHei;
    position: absolute;
    margin-left: 50%;
    left: -34px;
    margin-top: 50px;
}

button:hover {
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(41, 173, 57);
}
