/*全局设定*/

* {
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei UI;
}

body {
    background-color: rgb(243, 242, 243);
}


/*页面容器样式*/

.wrapper {
    position: relative;
    height: 100%;
    min-width: 905px;
    margin: 5px 40px;
}


/*头部导航栏样式*/

header img {
    float: left;
}

header div nav {
    display: inline-block;
    margin-left: 10px;
    margin-top: 18px;
}

header nav a {
    margin: 3px;
    font-size: 15px;
}


/*搜索框样式*/

.searchbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.typein {
    float: left;
    height: 28px;
    width: 533px;
    border: 1px solid #aaa;
    text-indent: 6px;
    outline: none;
}

.searchbtn {
    margin-left: 10px;
    height: 30px;
    width: 95px;
    border: 1px solid #555;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}


/*分类信息栏样式*/

.catainfo {
    height: 38px;
    background-color: rgb(63, 67, 81);
    border-radius: 3px;
    width: 100%;
}

.catainfo a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    margin: 0;
}

.catainfo a:hover {
    background-color: #333;
}

.catainfo span {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    color: #fff;
    background-color: rgb(108, 112, 123);
    margin: 4px;
    padding: 0 5px;
    float: right;
}

.catainfo span:hover {
    background-color: #d65554;
}


/*细项分类列表样式*/

.listcontainer {
    height: 80px;
    padding: 20px 0;
    background-color: #fff;
    margin: 15px 0;
    box-shadow: 0 0 3px #ccc;
}

.catalist {
    padding: 0 20px;
}

.catalist li {
    position: relative;
    display: inline-block;
    zoom: 1;
    padding: 0 6px;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
}

.catalist li:hover {
    background-color: #bbb;
}

.subcata a {
    font-size: 17px;
    color: #333;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #ccc;
    float: left;
    margin-right: -1px;
}

.subcata a:hover {
    color: #fff;
    background-color: #DC923E;
}


/*图片放置区及内部标签样式*/

.waterfall {
    position: absolute;
    top: 345px;
    width: 100%;
}

.imgbox {
    display: inline-block;
    position: relative;
    float: left;
    background-color: rgb(243, 242, 243);
    box-shadow: 0 0 5px rgb(108, 112, 123);
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.imgcontainer {
    padding: 10px;
}

.imgcontainer img {
    width: 220px;
}

.imgtag {
    padding: 10px;
    padding-top: 0;
}

.imgtag p {
    font-size: 13px;
    height: 20px;
    line-height: 20px;
}

.imgtag a {
    color: #000;
}

.imgtag p>span {
    color: #666;
    cursor: default;
}

.imgtag p .tag {
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
}

.imgtag p .tag:hover {
    color: #fff;
    background-color: #DC923E;
}
