/*全局设定*/

* {
    margin: 0;
    padding: 0;
    font-family: arial;
}


/*计算器容器样式*/

.container {
    width: 300px;
    height: 400px;
    border: 8px solid rgb(66, 66, 66);
    border-radius: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/*字符串显示区域样式*/

.screen {
    width: 300px;
    background: #4c4c4c;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid;
    text-align: right;
}


/*字符串输入框样式*/

.history_input {
    height: 35px;
    font-family: Microsoft JhengHei UI;
    font-size: 13px;
    padding: 5px;
    line-height: 35px;
    border-bottom: none;
}

.realtime_input {
    height: 65px;
    font-family: Microsoft JhengHei UI;
    font-size: 21px;
    line-height: 65px;
    padding: 5px;
    border-top: none;
}


/*按键样式*/

.keyboard li {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    float: left;
    display: inline-block;
}

.keyboard .double_width {
    width: 120px;
}

li input {
    background: #5cb85c;
    border: 1px solid rgb(216, 216, 216);
    outline: none;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.operation {
    background: #d9534f;
}

.cal {
    background: #5bc0de;
}

li input:hover {
    cursor: pointer;
    outline: none;
    background-color: #419641;
    border: 3px solid rgb(50, 50, 50);
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.operation:hover {
    background: #c12e2a;
}

.cal:hover {
    background: #2aabd2;
}
