* {
    margin: 0px 0px;
    padding: 0px 0px;
}

#container {
    width: 1000px;
    height: 670px;
    margin: 40px auto;
}

table {
    position: relative;
    float: left;
    margin-top: 250px;
    margin-left: 170px;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
}

table caption {
    height: 30px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 1px rgb(255, 255, 255);
}

table th {
    padding: 2px 2px;
    font-size: 17px;
    border-color: rgba(255, 255, 255, 255);
}

table td {
    padding: 2px 2px;
    font-size: 15px;
    border-color: rgba(255, 255, 255, 255);
}
