<!DOCTYPE html>

<!-- 主页ejs模板 -->

<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>新闻管理主页</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
</head>

<body>
    <!-- maincontent -->
    <div class="wrapper">
        <h2>欢迎来到新闻管理系统主页</h2>
        <a href="/back/login" class="btn btn-primary btn-lg">进入新闻管理后台系统</a>
        <a href="/news/tuijian" class="btn btn-success btn-lg">开始浏览新闻</a>
    </div>
    <!-- maincontent end -->
</body>

</html>
