* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #038F58;
}

.container {
    width: 100%;
    height: 100%;
}

.space {
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-animation: animations 5s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
    -webkit-animation: animations 5s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
    -o-animation: animations 5s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
    animation: animations 5s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

.space div {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    border: 3px solid rgb(255, 255, 255);
    opacity: .85;
}

.space div div {
    box-sizing: border-box;
    display: inline-block;
    width: 98px;
    height: 98px;
    border-radius: 0;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    float: left;
}

.space .front {
    background-color: rgb(238, 23, 75);
    -webkit-transform: translateZ(150px);
}

.space .top {
    background-color: rgb(0, 103, 172);
    -webkit-transform: rotateX(90deg) translateZ(150px);
}

.space .bottom {
    background-color: rgb(27, 116, 35);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
}

.space .left {
    background-color: rgb(175, 175, 175);
    -webkit-transform: rotateY(90deg) translateZ(-150px);
}

.space .right {
    background-color: rgb(231, 212, 65);
    -webkit-transform: rotateY(90deg) translateZ(150px);
}

.space .back {
    background-color: rgb(153, 59, 135);
    -webkit-transform: translateZ(-150px);
}

@-webkit-keyframes animations {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    17% {
        -webkit-transform: rotateX(0) rotateY(90deg) rotateZ(0);
    }
    33% {
        -webkit-transform: rotateX(90deg) rotateY(90deg) rotateZ(0);
    }
    50% {
        -webkit-transform: rotateX(0) rotateY(90deg) rotateZ(180deg);
    }
    67% {
        -webkit-transform: rotateX(0) rotateY(180deg) rotateZ(180deg);
    }
    83% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
    }
    100% {
        -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}

@-moz-keyframes animations {
    0% {
        -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    17% {
        -moz-transform: rotateX(0) rotateY(90deg) rotateZ(0);
    }
    33% {
        -moz-transform: rotateX(90deg) rotateY(90deg) rotateZ(0);
    }
    50% {
        -moz-transform: rotateX(0) rotateY(90deg) rotateZ(180deg);
    }
    67% {
        -moz-transform: rotateX(0) rotateY(180deg) rotateZ(180deg);
    }
    83% {
        -moz-transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
    }
    100% {
        -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}

@-o-keyframes animations {
    0% {
        -o-transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    17% {
        -o-transform: rotateX(0) rotateY(90deg) rotateZ(0);
    }
    33% {
        -o-transform: rotateX(90deg) rotateY(90deg) rotateZ(0);
    }
    50% {
        -o-transform: rotateX(0) rotateY(90deg) rotateZ(180deg);
    }
    67% {
        -o-transform: rotateX(0) rotateY(180deg) rotateZ(180deg);
    }
    83% {
        -o-transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
    }
    100% {
        -o-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}

@keyframes animations {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    17% {
        -webkit-transform: rotateX(0) rotateY(90deg) rotateZ(0);
    }
    33% {
        -webkit-transform: rotateX(90deg) rotateY(90deg) rotateZ(0);
    }
    50% {
        -webkit-transform: rotateX(0) rotateY(90deg) rotateZ(180deg);
    }
    67% {
        -webkit-transform: rotateX(0) rotateY(180deg) rotateZ(180deg);
    }
    83% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
    }
    100% {
        -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}
