/*全局设定*/

* {
    margin: 0;
    padding: 0;
}


/*容器大小及位置*/

.container {
    margin: 30px auto;
    width: 500px;
    text-align: center;
}


/*输入框样式*/

input {
    width: 360px;
    height: 34px;
    font-size: 16px;
    line-height: 34px;
    text-indent: 6px;
}


/*按钮样式*/

#btn {
    display: block;
    width: 100px;
    height: 34px;
    font-size: 16px;
    margin: 10px auto;
}
